{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    {% for add in add %}
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address {{forloop.counter}}</h3>
       <p>Name: {{add.name}}</p>
       <p>Address 1: {{add.locality}}</p>
       <p>Address 2: {{add.city}}</p>
       <p>State: {{add.state}}}</p>
      </div>
     </div>
    </div>
    {%  endfor %}
    <!-- <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address 2</h3>
       <p>Name: Rohit Kumar</p>
       <p>Address 1: Lalpur</p>
       <p>Address 2: Ranchi</p>
       <p>State: Jharkhand</p>
      </div>
     </div>
    </div> -->
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}