{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
      <div class="card mb-2">
        
        <div class="card-body">
          <!-- <h5>Product: {{i.product.title}}</h5>
          <p>Quantity: {{i.quantity}}</p>
          <p class="fw-bold">Price:{{i.product.selling_price}}</p> -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">S.N</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">price/unit</th>
                <th scope="col">Amount(Rs.)</th>
              </tr>
            </thead>
            {% for i in cart %}
            <tbody>
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.product.title}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.product.selling_price}}</td>
                <td>{{i.cartTotal}}</td>
              </tr>
              
            </tbody>
            {% endfor %}
            <tbody>
            <tr>
              <td></td>
              <td>Shipping</td>
              <td>  </td>
              <td></td>
              <td>70</td>
            </tr>
          </tbody>
            <tr>
              <th scope="col"></th>
              <th scope="col">Total</th>
              <th scope="col"></th>
              <th scope="col">Rs. {{total}}</th>
            </tr>
          </table>
        </div>
        
      </div>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone">
      {% for i in customer %}
      <div class="card">
        <div class="card-body">
        <h5>{{i.name}}</h5>
        <p>{{i.locality}},{{i.city}},{{i.state}},{{i.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custid{{forloop.counter}}" value="{{i.id}}">
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}