{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-2">
    <div class="list-group">
        <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action active" aria-current="true">
         All mobiles
        </a>
        <a href="{% url 'laptopfilter' 'APPLE' %}" class="list-group-item list-group-item-action">apple</a>
        <a href="{% url 'laptopfilter' 'ACER' %}" class="list-group-item list-group-item-action">ACER</a>
        <a href="{% url 'laptopfilter' 'HP' %}" class="list-group-item list-group-item-action">HP</a>
        <a href="{% url 'laptopfilter' 'DELL' %}" class="list-group-item list-group-item-action">DELL</a>
        <a href="{% url 'laptopfilter' 'Vivo' %}" class="list-group-item list-group-item-action">Vivo</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
        <a href="{% url 'mobilefilter' 'below' %}" class="list-group-item list-group-item-action">Below 20000/a>
            <a href="{% url 'mobilefilter' 'above' %}" class="list-group-item list-group-item-action">Above 20000</a>
      </div>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <div class="row">
        {%  for i in mobile %}
        <div class="col-sm-4 text-center mb-4 offset-sm-1">
            <a href="{% url 'product-detail' i.id %}" class="btn">
         <img src={{i.product_image.url}} class="" alt="" height="300">
         <div class="fw-bold">{{i.title}}</div>
         <div class="fw-bold">Rs-{{i.selling_price}}
         <small class="fw-light text-decoration-line-through">
            Rs-{{i.beforediscount}}
         </small>
         
         </div>
            </a>

        </div>
        {% endfor %}
    </div>
   Mobile Product List
  </div>
 </div>
</div>
{% endblock main-content %}